.target {
    width: 50vw;
    height: 50vh;
    background: silver;

    /*box-sizing: border-box;*/
    /*padding: 100px;*/
    /*padding-top: 50px;*/
    /*padding-bottom: 10px;*/
    /*padding-right: 20px;*/
    /*padding-left: 10px;*/

    /*padding: 10px 20px 30px 40px;*/
    /*margin: 100px 200px;*/


}
