.w200 {
    width: 200px;
}

.w250 {
    width: 250px;
}

.w350 {
    width: 350px;
}

.h200 {
    height: 200px;
}

.h250 {
    height: 250px;
}

.bgBase {
    background: mediumpurple;
}

.brdr5 {
    border-radius: 5px;
}

.round {
    border-radius: 50%;
}


.inner-box {
}
